<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>learn vue js</title>
    <!-- change any other data element value in the methods function run again -->
    <!-- only if change the value of the own element the computed function well be run if we change any value of other element the function well not be run -->
  </head>
  <body>
    <div id="mahdi-app">
      <h1>welcome to vue.js Course</h1>
      <!-- <p> {{ fullName }} </p>
      <p> {{ fullName }} </p>
      <p> {{ fullName }} </p> -->
      <label for="progLang">find prog lang : </label>
      <input type="text" id="progLang" v-model="findLang">
        <ul>
          <li v-for="la in filterLang">
            {{ la }}
          </li>
        </ul>
    </div>

    <script src="js/vue.js"></script>
    <script>
      let vm = new Vue({
        el: "#mahdi-app",
        data: {
          age: 20,
          meg: 'hello my friends',
          firstName: 'mahdi',
          lastName: 'amari',
          findLang: '',
          lang: ["JavaScript", "Python", "Java", "C++", "C#", "Swift", "Ruby", "PHP", "Perl", "Go", "Scala", "Rust", "Kotlin", "TypeScript"]        
        },
        methods: {

        },
        computed: {
          filterLang: function () {
            var filtering = new RegExp(this.findLang , 'i')
            return this.lang.filter((ele)=> ele.match(filtering))
          }
        }
      });
    </script>
  </body>
</html>
